*{
    margin: 0; 
    padding: 0; 
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 05px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-around;
    background-color: #f1f1f1;
    color: #ba895c;
    position: relative;
    .img-logo{
        width: 40%;
        align-items: flex-start;
    }
}

section{
    display: flex;
    text-align: center;
    align-items: normal;
    background-color: #fbf7f6;
    color: rgb(100, 100, 100);
    margin: 05px 0;
    padding: 10px 20px;
}

div{
    align-items: center;
    padding: 20px;
}

body{
    align-items: center;
    text-align: center;
    background-color: #fbf7f6;
}

*{
    margin: 0;
}

ul li{
    list-style: none;
}

.texto{
    color: #ba895c;
}

a{
    color: #ba895c;
    text-decoration: none;
}

.lista{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f1f1f1;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.caixa:checked ~ .lista{
    display: block;
}

#menu{
    display: none;
}

.lista-item{
    padding: 12px 0;
}

@media screen and (min-width: 1024px) {
    .lista{
        right: 8%;
        width: 14%;
        padding: 20px;
        text-align: start;
    }
    .lista-item:hover{
        background-color: rgb(119, 51, 51);
    }
}

