/* Estilos gerais para o corpo do texto */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d6cdcd;
    line-height: 1.6;
}

/* Estilo para o cabeçalho */
header {
    background-color: #234f24;
    color: white;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para o conteúdo principal */
main {
    padding: 2rem;
}

/* Estilo para a seção Sobre */
#sobre {
    max-width: 800px;
    margin: 0 auto;
}

#sobre h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

#sobre p {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
}

/* Estilo para a seção Produto */
.produto {
    border: 1px solid #ddd;
    margin: 1rem 0;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
}

.produto img {
    width: 200px;
    height: auto;
    display: block;
    margin-bottom: 1rem;
}

.produto p {
    font-size: 20px;
}

/* Estilo para a imagem e texto principais */
.imagem-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Ajustado para um espaço mais consistente */
    margin: 20px 0;
}

.imagem-texto img {
    max-width: 300px; 
    height: auto;
    border-radius: 5px; 
}

.imagem-texto p {
    margin: 0;
    font-size: 18px; /* Ajustado para ficar consistente */
    line-height: 1.5;
    text-align: center; /* Centralizado o texto */
}

/* Estilo para o formulário */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
}

form input, form textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Estilo para o rodapé */
footer {
    background-color: #234f24;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0.5rem 0;
}
